name: Playwright Tests

on:
  push:
    branches:
      - main

jobs:
  Playwright-Test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # Execute os testes Playwright com Allure
      - name: Run Playwright Tests
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: |
          npx playwright test
